/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
body {
  border: 1px solid #F2995F;
  width: 1000px;
  height: 1600px;
}
@media (max-width: 500px) {
  body {
    border: none;
  }
}
.fontstuff {
  color: #363636;
  font-family: 'Open Sans Condensed', sans-serif;
}
.flexbox {
  display: flex;
}
.subheaders {
  text-decoration: underline;
  text-decoration-color: #F2995F;
  text-align: center;
}
header {
  width: 1000px;
}
header h1 {
  color: #363636;
  font-family: 'Open Sans Condensed', sans-serif;
  border: 3px solid #363636;
  padding: 50px;
  margin: 20px 20px 20px 50px;
  width: 900px;
  text-align: center;
  font-size: 60px;
}
@media (max-width: 500px) {
  header h1 {
    width: 450px;
    margin: 20px 20px 20px 10px;
  }
}
header nav {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
  }
}
header nav a {
  text-decoration: none;
  font-size: 25px;
  color: #363636;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #F2995F;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
}
@media (max-width: 500px) {
  header nav a {
    width: 450px;
    text-align: center;
  }
}
header p {
  color: #363636;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #F2995F;
  text-align: center;
  padding: 20px;
  width: 800px;
  margin: -45px 0px 0px 100px;
  border-radius: 20px;
  font-size: 25px;
}
@media (max-width: 500px) {
  header p {
    width: 300px;
    padding: 10px;
    font-size: 20px;
    margin: -45px 0px 0px 85px;
  }
}
a:hover {
  color: white;
}
.firstSection {
  display: flex;
}
@media (max-width: 500px) {
  .firstSection {
    flex-direction: column;
  }
}
.firstSection div {
  color: #363636;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 500px;
  margin-left: 50px;
}
@media (max-width: 500px) {
  .firstSection div {
    margin: 10px;
    width: 450px;
  }
}
.firstSection div h2 {
  text-decoration: underline;
  text-decoration-color: #F2995F;
  text-align: center;
}
.firstSection div p {
  text-align: center;
  font-size: 20px;
}
.firstSection ul {
  color: #363636;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 380px;
  border: 1px solid #F2995F;
  padding: 10px;
  margin: 20px;
}
@media (max-width: 500px) {
  .firstSection ul {
    width: 450px;
    margin: 10px;
  }
}
.firstSection ul h2 {
  text-decoration: underline;
  text-decoration-color: #F2995F;
  text-align: center;
}
.firstSection ul li {
  text-align: left;
  margin-left: 100px;
  list-style-type: circle;
  font-size: 20px;
}
@media (max-width: 500px) {
  .firstSection ul li {
    margin: 0px;
    margin-left: 30px;
  }
}
.secondSection {
  display: flex;
  color: #363636;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px;
}
@media (max-width: 500px) {
  .secondSection {
    flex-direction: column;
  }
}
.secondSection .genContainer {
  width: 600px;
  border: 1px solid #F2995F;
  margin: 20px 20px 20px 60px;
}
@media (max-width: 500px) {
  .secondSection .genContainer {
    width: 450px;
    margin: 0px;
  }
}
.secondSection .genContainer li {
  list-style-type: circle;
  font-size: 20px;
}
.secondSection .genContainer h2 {
  text-decoration: underline;
  text-decoration-color: #F2995F;
  text-align: center;
}
.secondSection .genContainerTwo {
  width: 500px;
  margin-right: 70px;
}
@media (max-width: 500px) {
  .secondSection .genContainerTwo {
    width: 450px;
    margin-right: 10px;
  }
}
.secondSection .genContainerTwo li {
  text-align: left;
  margin-left: 100px;
  list-style-type: circle;
  font-size: 20px;
}
@media (max-width: 500px) {
  .secondSection .genContainerTwo li {
    margin: 0px;
  }
}
.secondSection .genContainerTwo h2 {
  text-decoration: underline;
  text-decoration-color: #F2995F;
  text-align: center;
}
img {
  border: 1px solid #F2995F;
  width: 850px;
  margin-left: 75px;
}
@media (max-width: 500px) {
  img {
    width: 450px;
    margin: 10px;
  }
}
